<a href="https://colab.research.google.com/github/RAKESH419/Letsupgrade-python-b7/blob/master/Gummadidala_Rakesh_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

assignment 1 day 4

1.Print the first ArmStrong number in the range of 1042000 to 702648265 and exit the loop as soon
as you encounter the first armstrong number.
Use while loop

In [ ]:
lower = 1042000
upper = 702648265

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)
       print("the first armstrong number is= 1741725")

1741725
the first armstrong number is= 1741725

1.print the first ArmStrong number in the range of 1042000 to 702648265 and exit the loop as soon
as you encounter the first armstrong number.
Use while loop