1. LIST and it defalt functions

*append(): Used for appending and adding elements to List.It is used to add elements to the last position of List.

Syntax: 
 list.append (element)

In [ ]:
# Adds List Element as value of List. 
List = ['rakesh', 'sai', 1997, 2000] 
List.append(20544) 
print(List)

['rakesh', 'sai', 1997, 2000, 20544]

*insert(): Inserts an elements at specified position.

syntax: list.insert(<position, element)

In [ ]:
List = ['rakesh', 'sai', 1997, 2000] 
# Insert at index 2 value 10087 
List.insert(2,10087)	 
print(List)

['rakesh', 'sai', 10087, 1997, 2000]

*extend(): Adds contents to List2 to the end of List1

Syntax:
List1.extend(List2)

In [ ]:
List1 = [1, 2, 3] 
List2 = [2, 3, 4, 5] 

# Add List2 to List1 
List1.extend(List2)		 
print(List1) 

# Add List1 to List2 now 
List2.extend(List1) 
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

*sum() : Calculates sum of all the elements of List

Syntax:
 sum(List)

In [ ]:
List = [1, 4, 5, 4, 5] 
print(sum(List))

19

*count():Calculates total occurrence of given element of List

Syntax:
List.count(element)

In [ ]:
List = [0, 2, 4, 1, 2, 1, 2, 3, 2, 1] 
print(List.count(1))

3

*length:Calculates total length of List.

Syntax:
len(list_name)

In [ ]:
List = [1, 6, 3, 1, 2, 1, 2, 3, 2] 
print(len(List))

9

*index(): Returns the index of first occurrence. Start and End index are not necessary parameters.

Syntax:
List.index(element[,start[,end]])
filter_none

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.index(2))

1

*min() : Calculates minimum of all the elements of List.

Syntax:
min(List)

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(min(List))

1.054

*max(): Calculates maximum of all the elements of List.

Syntax:
max(List)

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(max(List))

5.33

*reverse(): Sort the given data structure (both tuple and list) in ascending order. Key and reverse_flag are not necessary parameter and reverse_flag is set to False, if nothing is passed through sorted()

Syntax:
sorted([list[,key[,Reverse_Flag]]])
 list.sort([key,[Reverse_flag]])

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 

#Reverse flag is set True 
List.sort(reverse=True) 

#List.sort().reverse(), reverses the sorted list 
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

*pop(): Index is not a necessary parameter, if not mentioned takes the last index.

Syntax:
 list.pop([index])

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(List.pop())

2.5

del() : Element to be deleted is mentioned using list name and index

Syntax:
del list.[index]

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
del List[0] 
print(List)

[4.445, 3, 5.33, 1.054, 2.5]

*remove(): Element to be deleted is mentioned using list name and element

Syntax:
 list.remove(element)Syntax:
 list.remove(element)

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
List.remove(3) 
print(List)

[2.3, 4.445, 5.33, 1.054, 2.5]

2.DICTIONARY AND ITS DEFALT FUNCTIONS

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

*Creating a Dictionary

In Python, a Dictionary can be created by placing sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds a pair of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable


.
Note – Dictionary keys are case sensitive, same name but different cases of Key will be treated distinctly.

In [ ]:
# Creating a Dictionary 
# with Integer Keys 
Dict = {1: 'rakesh', 2: 'For', 3: 'Rakesh'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 

# Creating a Dictionary 
# with Mixed keys 
Dict = {'Name': 'Ralesh', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'rakesh', 2: 'For', 3: 'Rakesh'}

Dictionary with the use of Mixed Keys:
{'Name': 'Ralesh', 1: [1, 2, 3, 4]}

Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 

# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'sai', 2: 'For', 3:'raju'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 

# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'sai'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'sai', 2: 'For', 3: 'raju'}

Dictionary with each item as a pair:
{1: 'sai', 2: 'For'}

*Nested Dictionary:nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

In [ ]:
# Creating a Nested Dictionary 
# as shown in the below image 
Dict = {1: 'sai', 2: 'For', 
		3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'sai'}} 

print(Dict)

{1: 'sai', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'sai'}}

*Adding elements to a Dictionary

In Python Dictionary, Addition of elements can be done in multiple ways. One value at a time can be added to a Dictionary by defining value along with the key e.g. Dict[Key] = ‘Value’. Updating an existing value in a Dictionary can be done by using the built-in update() method. Nested key values can also be added to an existing Dictionary.

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 

# Adding elements one at a time 
Dict[0] = 'rakesh'
Dict[2] = 'raju'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict) 

# Adding set of values 
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict) 

# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict) 

# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'sai'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'rakesh', 2: 'raju', 3: 1}

Dictionary after adding 3 elements:
{0: 'rakesh', 2: 'raju', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'rakesh', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'rakesh', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'sai'}}}

*Accessing elements from a Dictionary

In order to access the items of a dictionary refer to its key name.Key can be used inside square brackets.


There is also a method called get() that will also help in acessing the element from a dictionary.

In [ ]:
# Python program to demonstrate 
# accessing a element from a Dictionary 

# Creating a Dictionary 
Dict = {1: 'sai', 'name': 'For', 3: 'madam'} 

# accessing a element using key 
print("Accessing a element using key:") 
print(Dict['name']) 

# accessing a element using key 
print("Accessing a element using key:") 
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
sai

*Accessing element of a nested dictionary

In order to access the value of any key in nested dictionary, use indexing [] syntax

In [ ]:
# Creating a Dictionary 
Dict = {'Dict1': {1: 'rakesh'}, 
		'Dict2': {'Name': 'ram'}} 

# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'rakesh'}
rakesh
ram

*Removing Elements from Dictionary

Using del keyword
In Python Dictionary, deletion of keys can be done by using the del keyword. Using del keyword, specific values from a dictionary as well as whole dictionary can be deleted. Items in a Nested dictionary can also be deleted by using del keyword and providing specific nested key and particular key to be deleted from that nested Dictionary.

In [ ]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'rama studio', 
		'A' : {1 : 'elements', 2 : 'For', 3 : 'sai'}, 
		'B' : {1 : 'studio', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 

# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 

# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'rama studio', 'A': {1: 'elements', 2: 'For', 3: 'sai'}, 'B': {1: 'studio', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'rama studio', 'A': {1: 'elements', 2: 'For', 3: 'sai'}, 'B': {1: 'studio', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'rama studio', 'A': {1: 'elements', 3: 'sai'}, 'B': {1: 'studio', 2: 'Life'}}

Using pop() method

*Pop() method is used to return and delete the value of the key specified

In [ ]:
# Creating a Dictionary 
Dict = {1: 'sai', 'heips': 'For', 3: 'rakesh'} 

# Deleting a key 
# using pop() method 
pop_ele = Dict.pop(1) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'heips': 'For', 3: 'rakesh'}
Value associated to poped key is: sai

Using popitem() method

The popitem() returns and removes an arbitrary element (key, value) pair from the dictionary.

In [ ]:
# Creating Dictionary 
Dict = {1: 'sai', 'name': 'For', 3: 'Rakesh'} 

# Deleting an arbitrary key 
# using popitem() function 
pop_ele = Dict.popitem() 
print("\nDictionary after deletion: " + str(Dict)) 
print("The arbitrary pair returned is: " + str(pop_ele))

Dictionary after deletion: {1: 'sai', 'name': 'For'}
The arbitrary pair returned is: (3, 'Rakesh')

Using clear() method

All the items from a dictionary can be deleted at once by using clear()

In [ ]:
# Creating a Dictionary 
Dict = {1: 'sai', 'name': 'helps', 3: 'Rakesh'} 


# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Deleting Entire Dictionary:
{}

3.SETS AND ITS DEFAULT FUNCTIONS IN PYTHON

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python’s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes like we do in lists

In [ ]:
# Python program to 
# demonstrate sets 

# Same as {"a", "b", "c"} 
myset = set(["a", "b", "c"]) 
print(myset) 

# Adding element to the set 
myset.add("d") 
print(myset)

{'c', 'a', 'b'}
{'c', 'a', 'd', 'b'}

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	 :Removes the items in this set that are also included in another, specified set

discard() 	:Remove the specified item

intersection() :	Returns a set, that is the intersection of two other sets

intersection_update() :	Removes the items in this set that are not present in other, specified set(s)

isdisjoint() :	Returns whether two sets have a intersection or not

issubset()	:Returns whether another set contains this set or not

issuperset() :	Returns whether this set contains another set or not

pop() :	Removes an element from the set

remove() :	Removes the specified element

symmetric_difference() :	Returns a set with the symmetric differences of two sets

symmetric_difference_update() :	inserts the symmetric differences from this set
 and another

union() :	Return a set containing the union of sets

update() :	Update the set with the union of this set and others

In [ ]:
# Python program to 
# demonstrate intersection 
# of two sets 

set1 = set() 
set2 = set() 

for i in range(5): 
	set1.add(i) 

for i in range(3,9): 
	set2.add(i) 

# Intersection using 
# intersection() function 
set3 = set1.intersection(set2) 

print("Intersection using intersection() function") 
print(set3) 

# Intersection using 
# "&" operator 
set3 = set1 & set2 

print("\nIntersection using '&' operator") 
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

4. TUPLES AND ITS DEFAULT FUNCTIONS

A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable.

In [ ]:
# Creating non-empty tuples 

# One way of creation 
tup = 'python', 'SAI'
print(tup) 

# Another for doing the same 
tup = ('python', 'Rakesh') 
print(tup)

('python', 'SAI')
('python', 'Rakesh')

*Concatenation of Tuples

In [ ]:
# Code for concatenating 2 tuples 

tuple1 = (0, 1, 2, 3) 
tuple2 = ('sai', 'kiran') 

# Concatenating above two 
print(tuple1 + tuple2)

(0, 1, 2, 3, 'sai', 'kiran')

*Nesting of Tuples

In [ ]:
# Code for creating nested tuples 

tuple1 = (0, 1, 2, 3) 
tuple2 = ('sai', 'kiran') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

((0, 1, 2, 3), ('sai', 'kiran'))

*Repetition in Tuples

In [ ]:
# Code to create a tuple with repetition 

tuple3 = ('sai kiran',)*3
print(tuple3)

('sai kiran', 'sai kiran', 'sai kiran')

*Slicing in Tuples

In [ ]:
# code to test slicing 

tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

*Finding Length of a Tuple

In [ ]:
# Code for printing the length of a tuple 

tuple2 = ('Rakesh', 'sai') 
print(len(tuple2))

2

*Tuples in a loop

In [ ]:
#python code for creating tuples in a loop 

tup = ('rakesh and sai are friends',) 
n = 5 #Number of time loop runs 
for i in range(int(n)): 
	tup = (tup,) 
	print(tup)

(('rakesh and sai are friends',),)
((('rakesh and sai are friends',),),)
(((('rakesh and sai are friends',),),),)
((((('rakesh and sai are friends',),),),),)
(((((('rakesh and sai are friends',),),),),),)

5.STRING AND EXPLORE DEFAULI FUNCTIONS

n Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

*Creating a String

In [ ]:
# Python Program for 
# Creation of String 

# Creating a String 
# with single Quotes 
String1 = 'Welcome to the G World'
print("String with the use of Single Quotes: ") 
print(String1) 

# Creating a String 
# with double Quotes 
String1 = "I'm a saikiran"
print("\nString with the use of Double Quotes: ") 
print(String1) 

# Creating a String 
# with triple Quotes 
String1 = '''I'm a rakesh and I live in a world of "hydrabad"'''
print("\nString with the use of Triple Quotes: ") 
print(String1) 

# Creating String with triple 
# Quotes allows multiple lines 
String1 = '''sai 
			For 
			Life'''
print("\nCreating a multiline String: ") 
print(String1)

String with the use of Single Quotes:
Welcome to the G World

String with the use of Double Quotes:
I'm a saikiran

String with the use of Triple Quotes:
I'm a rakesh and I live in a world of "hydrabad"

Creating a multiline String:
sai
			For
			Life

*Accessing characters in Python

In Python, individual characters of a String can be accessed by using the method of Indexing. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character and so on.



While accessing an index out of the range will cause an IndexError. Only Integers are allowed to be passed as an index, float or other types will cause a TypeError.

In [ ]:
# Python Program to Access 
# characters of String 

String1 = "sairam"
print("Initial String: ") 
print(String1) 

# Printing First character 
print("\nFirst character of String is: ") 
print(String1[0]) 

# Printing Last character 
print("\nLast character of String is: ") 
print(String1[-1])

Initial String:
sairam

First character of String is:
s

Last character of String is:
m

**the end**